@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  cursor: url("pencil.svg"), auto;
}

.no-visible-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
  -webkit-overflow-scrolling: touch;
}

.no-visible-scrollbar::-webkit-scrollbar {
  display: none;
}
